---
layout: markdown_page
title: "Product Vision - Verify"
---

{:.no_toc}

- TOC
{:toc}

The Verify stage of the DevOps pipeline
covers the CI lifecycle as well as testing (unit, integration, acceptance,
performance, etc.). Our mission is to help developers feel confident in
delivering their code to production. Please read through to understand where
we're headed and feel free to jump right into the discussion by commenting on
one of the epics or issues.  If you'd like to discuss this vision directly with the product manager for Verify,
feel free to reach out to Jason Lenny via [e-mail](mailto:jlenny@gitlab.com).

- See a high-level
  [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=✓&state=opened&label_name[]=devops%3A%3Averify)
- Stage usage can be tracked at the Verify [SMAU (Stage Monthly Active Users) Dashboard](https://app.periscopedata.com/app/gitlab/456428/Verify-Stage-Dashboard)

Note that this stage is also involved in delivering improvements for our
[mobile development and delivery](/direction/mobile) and [CI/CD](/direction/cicd)
use cases. If you have an interest in these topics, please also take a look there.

## Vision

<%= partial("direction/cicd/strategies/verify") %>

## Themes

We track epics for many of the major deliverables associated with these north stars,
you can view them on a calendar at [this link](https://gitlab.com/groups/gitlab-org/-/roadmap?label_name%5B%5D=devops%3A%3Averify&scope=all&sort=end_date_asc&state=opened&layout=QUARTERS).

#### Single Application CI/CD

<%= partial("direction/cicd/themes/integrated_solutions") %>

#### Multi-Platform Support

<%= partial("direction/cicd/themes/multi_platform") %>

#### Speedy, Reliable Pipelines

<%= partial("direction/cicd/themes/speedy_pipelines") %>

#### Do Powerful Things Easily

<%= partial("direction/cicd/themes/cool_things") %>

#### Mobile Support

<%= partial("direction/cicd/themes/mobile_support") %>

#### Compliance as Code & Secure Secrets

<%= partial("direction/cicd/themes/compliance_as_code") %>

<%= partial("direction/categories", :locals => { :stageKey => "verify" }) %>

<%= partial("direction/contribute", :locals => { :stageKey => "verify" }) %>

## Prioritization Process

In general, we follow the same [prioritization guidelines](/handbook/product/#prioritization)
as the product team at large. Issues will tend to flow from having no milestone,
to being added to the backlog, to being added to this page and/or a specific
milestone for delivery.

You can see our entire public backlog for Verify at this
[link](https://gitlab.com/groups/gitlab-org/-/issues?scope=all&state=opened&label_name[]=devops%3A%3Averify);
filtering by labels or milestones will allow you to explore. If you find
something you're interested in, you're encouraged to jump into the conversation
and participate. At GitLab, everyone can contribute!

Issues with the "direction" label have been flagged as being particularly
interesting, and are listed in the sections below.

## Upcoming Releases

<%= direction %>

<%= partial("direction/other", :locals => { :stage => "verify" }) %>
